**/node_modules/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/
yarn-error.log

*.sublime-project
*.sublime-workspace
build/

# Just `ln -rs .git/info/exclude user.gitignore` and get your own private user-specific .gitignore
user.gitignore
