@import '@fontsource/fira-code/latin-700.css';

.new-sale-view {
    height: 100%;
    width: 100%;

    /* Row Flex */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.new-sale-view .bar-panel {
    background-color: #3D4854;
    border-right: 2px solid #181A1B;

    width: 20%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .non-ideal {
        margin-top: 40px;
    }

    .header-underline {
        border-bottom: 1px solid #777777;
        display: inline-block;
        padding-bottom: 5px;
    }
}

.new-sale-view .bar-panel {
    padding: 16px 20px 0;

    .financials {
        .fin-row-margin {
            margin: 0 12px 0;
            margin-bottom: 16px;
        }

        .fin-row, .discount-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        .fin-row {
            padding-bottom: 8px;
            border-bottom: 1px solid #8a8a8a;
            .t {
                text-transform: uppercase;
                color: #C5CBD3;
                font-weight: 400;
                font-size: 17px;
            }
            .v {
                font-weight: 700;
                font-size: 18px;
                font-family: 'Fira Code';
            }
        }

        @mixin money-highlight($hColor) {
            border-color: $hColor !important;
            .t, .v {
                color: $hColor !important;
            }
        }


        // .fin-row.money-highlight { @include money-highlight(#83F6C4); }
        .fin-row.money-highlight { @include money-highlight(#96ffd2); }
        .fin-row.money-highlight-alt { @include money-highlight(#FFD97D); }
        .fin-row.money-highlight-err { @include money-highlight(#FF9B85); }

        .sale-method-radio {
            margin-top: 24px;
            margin-bottom: 24px;
            background-color: #2F3943;
            padding: 12px 16px 2px;
            border-radius: 7px;
        }
    }
}

.new-sale-view .cart-panel {
    background-color: #F8F9FA;
    flex: 1;

    padding: 16px 16px;

    overflow-y: auto;

    .cart-item-list {

        display: flex;
        flex-direction: column;
        align-items: stretch;

        .cart-item {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 6px 6px;

            border-top: 2px solid #e6e6e6;
            &:first-child { border-top: none; }
        }
    }
}

.cart-item-list .cart-item {
    .itm-name {
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .itm-attrs {
        flex: 1;
        padding-left: 10px;
        border-left: 1px solid #1a2c35;
        font-style: italic;
    }

    .quantity {
        // margin-left: 16px;
        margin-right: 16px;
    }
    .quantity .bp3-input-group {
        width: 170px;
    }
}

/* ------------------------------ */
.bar-panel .scan-status {
    margin-top: auto; /* Push it to the end of flex container  */
    margin-bottom: 16px;

    .scan-tag {
        display: flex;
        justify-content: center;
        font-size: 1.02rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 6px 0;
    }
}
