@import '@fontsource/fira-code/latin-500.css';
@import '@fontsource/fira-code/latin-700.css';

.number-bold-input .bp3-input-group {
    font-weight: 500;
    font-family: 'Fira Code';
}

/* --- Financial row --- */
.fin-row-margin {
    margin: 0 12px 0;
    margin-bottom: 16px;
}

.fin-row, .discount-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fin-row {
    padding-bottom: 8px;
    border-bottom: 1px solid #8a8a8a;
    .t {
        text-transform: uppercase;
        color: #C5CBD3;
        font-weight: 400;
        font-size: 17px;
    }
    .v {
        font-weight: 700;
        font-size: 18px;
        font-family: 'Fira Code';
    }
}

@mixin money-highlight($hColor) {
    border-color: $hColor !important;
    .t, .v {
        color: $hColor !important;
    }
}

.fin-row.money-highlight { @include money-highlight(#96ffd2); }
.fin-row.money-highlight-light { @include money-highlight(#404854); }
.fin-row.money-highlight-alt { @include money-highlight(#FFD97D); }
.fin-row.money-highlight-err { @include money-highlight(#FF9B85); }

/* /--- */

.vdivider {
    border-left: 2px solid #BD6BBD;
    align-self: stretch;
    margin: 2px 12px;
}

.new-sale-view {
    height: 100%;
    width: 100%;

    /* Row Flex */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.new-sale-view .bar-panel {
    background-color: #3D4854;
    border-right: 2px solid #181A1B;

    width: 20%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .non-ideal {
        margin-top: 40px;
    }

    .header-underline {
        border-bottom: 1px solid #777777;
        display: inline-block;
        padding-bottom: 5px;
    }
}

.new-sale-view .bar-panel {
    padding: 16px 20px 0;

    &.financials {
        .sale-method-radio {
            margin-top: 24px;
            margin-bottom: 24px;
            background-color: #2F3943;
            padding: 12px 16px 2px;
            border-radius: 7px;
        }
    }
}

.new-sale-view .cart-panel {
    background-color: #F8F9FA;
    flex: 1;
    padding: 0px;
    overflow-y: auto;
}

table.cart-item-list {
    .itm-name {
        font-size: 1.05rem;
        font-weight: 700;
        color: #B83211;
        color: #866103;
        font-family: 'Fira Code';
        text-transform: uppercase;
    }

    td, th {
        &.fitwidth {
            width: 1px;
            white-space: nowrap;
        }
        &.alcenter {
            text-align: center;
        }
    }

    .itm-price * {
        font-family: 'Fira Code';
        font-size: 1rem;
        font-weight: 400;
    }

    .itm-attrs {
        margin-left: 10px;
        font-style: italic;
    }

    .quantity {
        width: 140px * 2;
    }
}

table.cart-item-list {
    border-collapse: collapse;

    td, th {
        padding-left: 8px;
        padding-right: 8px;
    }

    td, th, tr {
        border-width: 1px;
        border-color: #404854;
        border-style: solid;
    }

    th {
        // background-color: #E8F9B6;
        // background-color: #72CA9B;
        // background-color: #8ABBFF;
        // background-color: #FA999C;
        // background-color: #BDADFF;
        // background-color: #FF9980;
        background-color: #D4F17E;
        color: #1C2127;

        font-family: 'Fira Code';
        font-size: 16px;
        text-align: left;
        padding: 14px 10px;
    }

}

/* ------------------------------ */
.bar-panel .scan-status {
    margin-top: auto; /* Push it to the end of flex container  */
    margin-bottom: 16px;

    .scan-tag {
        display: flex;
        justify-content: center;
        font-size: 1.02rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 6px 0;
    }
}

.checkout {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 16px 16px 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .status {
        margin-bottom: 8px;
    }
}


/* ------------------------------ */
