$sidebar-width: 260px;
$sidebar-home-height: 100px;

$content-header-background: #ffffff;

// $sidebar-backgroud: #F5F8FA;
// $sidebar-backgroud: #f6f6f6;
$sidebar-backgroud: #ffffff;

// $content-body-background: #ffffff;
// $content-body-background: #f6f6f6;
// $content-body-background: #F5F8FA;
$content-body-background: #F8F9FA;

$statusbar-height: 20px;
// $statusbar-background: #e6e6e6;
$statusbar-background: rgb(241, 245, 249);
